#showcase {
  position: relative;
  background: url("../images/bg-header.jpg");
  min-height: 400px; 
}
  #showcase .primary-overlay {
   
    background: rgba(168, 40, 40, 0.4);
    height: 400px; 
  }

img{
  height: 120px;
  width: 120px;
}

h1,
h2 {
  font-weight: 800;
  margin: 0.4rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: #aaa;
}


.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
} 
